* {
    box-sizing: border-box;
    margin: 0;
}

body {
    flex: auto;
    padding: 0px;
    margin: 0px;

    background-image: url("starter_files/images/light-grey-wood.jpeg");
    background-size: 100% 100%;
    }
   

.header {
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
    background: url("starter_files/images/fresh-grass-2242789.jpeg") no-repeat center;
    background-size:100% 100%;
    font-family:fantasy;
    color:midnightblue;
    font-size: x-large;  
}
.sub-header {
    display: flex;
    flex-direction: column;
    padding: 08px;
    font-family: fantasy;
    color: midnightblue;
}

.flex-container {
    width: 750px;
    display: flex;
    flex-wrap: wrap;
    padding: 08px;
}


.puppy-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;

}

.puppy-card img {
   width: 200px;
   padding: 20px;
}
.puppy-card h2 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly
    padding:space-around;
}

button {
    background-color:saddlebrown;
    color:antiquewhite;
}

