* {
    box-sizing: border-box;
    margin: 0;
}

body {
    padding: 0px;
    margin: 0px;
    background-image: url("starter_files/images/light-grey-wood.jpeg");
    background-size: 100% 100%; 
    }
   

.header {
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
    background: url("starter_files/images/fresh-grass-2242789.jpeg") ;
    background-size:100% 100%;
    font-family:fantasy;
    color:midnightblue;
    font-size: x-large;  
}
.sub-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 08px;
    font-family: fantasy;
    color: midnightblue;
    background-color: blanchedalmond;
}

.flex-container {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}


.puppy-card {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    width: auto;

}

.puppy-card img {
  width: 200px;
   padding: 20px;
}

.puppy-card h2 {
    font-family: fantasy;
    color: midnightblue;
}

.button-card {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

button {
    background-color:saddlebrown;
    color:antiquewhite;
    font-family:fantasy;
    font-size: 80%;

}

footer {
    line-height: 400px;

}

.footer {
    display: flex;
    flex-wrap: wrap;
    height: 800 px;

  

}
.footer-card {
    display: flex;
    justify-content: center;
    align-content: center;
    flex:1 1 auto;
    font-size: 300%;
    font-family: fantasy;
    color: beige;
}

#adopt {
    background: linear-gradient( 
        rgba(8, 117, 63, 0.699),
        rgba(8, 158, 8, 0.45)
    ),
    url("starter_files/images/donate.jpg");
  
}
#A {
    background: linear-gradient( 
        rgba(8, 117, 63, 0.699),
        rgba(8, 158, 8, 0.45)
    ),
    url("starter_files/images/location.png");
}

#friend {
    background: linear-gradient( 
        rgba(8, 117, 63, 0.699),
        rgba(8, 158, 8, 0.45)
    ),
    url("starter_files/images/volunteer.jpg");
   
}



